.snowglobeContainer {
  width: 400px;
  height: 400px;
  margin: auto;
  position: relative;
  /* Scale down for mobile if needed, though 400px fits most phones */
}

.standCurvedWrap {
  width: 560px;
  height: 133px;
  position: absolute;
  bottom: -136px;
  margin-left: -80px;
  /* position relative overrides absolute? No, in SCSS it had both. relative likely wins or is necessary for children/clipping. 
     Wait, SCSS said:
     position:absolute;
     bottom:$sg-size*-0.34;
     margin-left:$sg-size*-0.2;
     position:relative;
     The second position:relative overrides absolute, but then bottom/margin-left might behave differently or be ignored if it's not absolute? 
     Actually if it's relative, bottom/left shift it from its normal position.
     Let's stick to absolute for placement relative to container, and maybe the author meant absolute.
     The CodePen likely uses absolute to place it under the globe. 
     I will use absolute.
  */
  position: absolute; 
  clip-path: polygon(30% 10%, 70% 10%, 80% 100%, 20% 100%);
  z-index: 1; /* Stand behind? or front? */
}

.standCurved {
  height: 180px;
  width: 500px;
  border-radius: 50%;
  border: 100px solid #800000; /* maroon */
  position: absolute;
  bottom: 0px;
  left: -70px;
  background: #500000; /* Darker fill? or transparent? SCSS didn't specify bg, just border. */
}

.sgBg {
  width: 400px;
  height: 400px;
  border-radius: 100%;
  position: absolute;
  top: 0px;
  background: rgba(255, 255, 255, 0.1); /* Adjusted for dark mode transparency */
  backdrop-filter: blur(2px); /* Glass effect */
  border: 1px solid rgba(255,255,255,0.2);
  z-index: 2;
}

.sgFg {
  width: 400px;
  height: 400px;
  border-radius: 100%;
  position: absolute;
  top: 0px;
  background: linear-gradient(135deg, rgba(255,255,255,0.4) 0%, rgba(246,246,246,0.1) 47%, rgba(237,237,237,0) 100%);
  z-index: 20; /* On top of everything */
  pointer-events: none;
}

.grndSnow {
  width: 380px;
  height: 380px;
  border-radius: 100%;
  position: absolute;
  top: 10px;
  left: 10px;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 68%, rgba(240,240,240,1) 68%, rgba(235,239,245,1) 79%, rgba(197,211,232,1) 100%);
  z-index: 3;
  overflow: hidden; /* structure clip */
}

/* Tree */
.tree {
  width: 100px;
  height: 205px;
  position: absolute;
  left: 200px; /* $sg-size*0.5 */
  top: 60px; /* $sg-size*0.15 */
  z-index: 5;
  transform: translateX(-50%); /* Center it horizontally on the point */
}

.branchShadow {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to bottom, rgba(18, 67, 79, 1) 0%, rgba(255,255,255,0) 100%);
  mix-blend-mode: multiply;
  z-index: 2;
}

/* Snow Pattern Mixin applied */
.branchTopSnow, .branchMidSnow, .branchBotSnow {
  background: 
    linear-gradient(135deg, #dbe8fc 25%, transparent 25%) -16px 0,
    linear-gradient(225deg, #dbe8fc 25%, transparent 25%) -16px 0,
    linear-gradient(315deg, #dbe8fc 25%, transparent 25%),
    linear-gradient(45deg, #dbe8fc 25%, transparent 25%); 
  background-size: 32px 32px;
  width: 100%;
  height: 100%;
  position: absolute;
}

.branchTop {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  width: 40px; /* $tree-size*0.8 */
  height: 75px; /* $tree-size*1.5 */
  background-color: #62838C;
  position: absolute;
  top: 5px; /* $tree-size*0.1 */
  left: 30px; /* $tree-size*0.6 */
}

.branchMid {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  width: 75px; /* $tree-size*1.5 */
  height: 115px; /* $tree-size*2.3 */
  background-color: #2D4959;
  position: absolute;
  top: 35px; /* $tree-size*0.7 */
  left: 12.5px; /* $tree-size*0.25 */
}

.branchBot {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  width: 100px; /* $tree-size*2 */
  height: 125px; /* $tree-size*2.5 */
  background-color: #142833;
  position: absolute;
  top: 80px; /* $tree-size*1.6 */
  left: 0;
}

.treeShadow {
  width: 200px;
  height: 20px;
  background: radial-gradient(ellipse at center, rgba(13,84,102,1) 0%, rgba(138,174,188,0) 65%, rgba(206,223,235,0) 100%);
  position: absolute;
  bottom: -10px;
  left: -35px;
  z-index: 3;
}

/* Star */
.star {
  /* CSS Triangle magic */
  width: 0px;
  height: 0px;
  border-right: 20px solid transparent;
  border-bottom: 14px solid gold;
  border-left: 20px solid transparent;
  transform: rotate(35deg);
  position: absolute;
  top: -10px;
  left: 30px;
  z-index: 10;
}
.star:before {
  border-bottom: 16px solid gold;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -9px;
  left: -13px;
  content: '';
  transform: rotate(-35deg);
}
.star:after {
  position: absolute;
  top: 0.6px;
  left: -21px;
  width: 0px;
  height: 0px;
  border-right: 20px solid transparent;
  border-bottom: 14px solid gold;
  border-left: 20px solid transparent;
  transform: rotate(-70deg);
  content: '';
}

/* Baubles */
.baubles {
  width: 16px;
  height: 16px;
  background-color: rgba(191, 17, 49, 1);
  border-radius: 100%;
  position: absolute;
  top: 40px; 
  left: 40px;
  z-index: 6;
  box-shadow: 
    8px 44px 0px 0px rgba(150, 0, 40, 1),
    -8px 80px 0px 0px rgba(206, 0, 55, 1),
    20px 100px 0px 0px rgba(206, 0, 37, 1),
    -24px 132px 0px 0px rgba(191, 17, 49, 1),
    32px 140px 0px 0px rgba(191, 17, 49, 1);
}

/* Snowman */
.snowmanBot {
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, #dbe8fc 100%);
  width: 60px; /* $sg-size*0.15 */
  height: 60px;
  border-radius: 50%;
  position: absolute;
  bottom: 132px; /* $sg-size*0.33 */
  left: 100px; /* $sg-size*0.25 */
  z-index: 5;
}

.snowmanTop {
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, #dbe8fc 100%);
  width: 40px; /* $sg-size*0.1 */
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: 184px; /* $sg-size*0.46 */
  left: 108px; /* $sg-size*0.27 */
  z-index: 6;
}

.coal {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  top: 5px; 
  left: 5px;
  /* Adjusting shadows relative to the head container (which is 40x40) */
  /* The original SCSS used global absolute pixels likely. 
     box-shadow: 120px -10px ... 
     If the snowman head is at left ~108px, 120px is ~12px inside.
     So the offsets should be small.
     I'll guess standard face positions. */
  box-shadow: 
    10px 10px 0 0 black, /* Eye L */
    20px 10px 0 0 black, /* Eye R */
    
    6px 22px 0 0 black, /* Mouth 1 */
    12px 25px 0 0 black, /* Mouth 2 */
    18px 25px 0 0 black, /* Mouth 3 */
    24px 22px 0 0 black; /* Mouth 4 */
}

/* Carrot */
.carrot {
  width: 0px;
  height: 0px;
  border-left: 20px solid #f98e13;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  position: absolute;
  left: 20px; /* Center-ish of 40px head */
  top: 18px;
}

/* Falling Snow */
.fallingSnowWrap {
  overflow: hidden;
  opacity: 0.99;
  height: 260px; /* $sg-size*0.65 */
  width: 400px;
  position: absolute;
  top: 0px;
  z-index: 10;
  border-radius: 100% 100% 0 0; /* Mask top part of globe */
}

.fallingSnow {
  width: 380px;
  height: 380px;
  overflow: hidden;
  opacity: 0.99;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 100%;
}

.flakes1 {
  width: 400px;
  height: 800px;
  position: absolute;
  top: 0px;
  color: #fff;
  opacity: 0.5;
  animation: sfanim 30s linear infinite;
  /* Original massive shadow list */
  text-shadow: 303px 117px, 32px 89px, 323px 119px, 98px 183px, 126px 235px, 0px 171px, 380px 61px, 269px 17px, 0px 151px, 121px 344px, 229px 136px, 237px 280px, 303px 30px, 211px 314px, 378px 285px, 10px 287px, 93px 345px, 292px 324px, 223px 292px, 156px 160px, 253px 58px, 205px 195px, 145px 106px, 79px 312px, 182px 359px, 279px 99px, 349px 124px, 5px 33px, 216px 147px, 388px 117px, 70px 295px, 149px 318px, 96px 66px, 129px 217px, 138px 218px, 241px 310px, 231px 368px, 18px 327px, 173px 213px, 118px 10px, 246px 208px, 159px 244px, 268px 376px, 167px 262px, 85px 238px, 277px 47px, 386px 192px, 259px 364px, 325px 327px, 279px 201px, 303px 517px, 32px 489px, 323px 519px, 98px 583px, 126px 635px, 0px 571px, 380px 461px, 269px 417px, 0px 551px, 121px 744px, 229px 536px, 237px 680px, 303px 430px, 211px 714px, 378px 685px, 10px 687px, 93px 745px, 292px 724px, 223px 692px, 156px 560px, 253px 458px, 205px 595px, 145px 506px, 79px 712px, 182px 759px, 279px 499px, 349px 524px, 5px 433px, 216px 547px, 388px 517px, 70px 695px, 149px 718px, 96px 466px, 129px 617px, 138px 618px, 241px 710px, 231px 768px, 18px 727px, 173px 613px, 118px 410px, 246px 608px, 159px 644px, 268px 776px, 167px 662px, 85px 638px, 277px 447px, 386px 592px, 259px 764px, 325px 727px, 279px 601px;
}

.flakes2 {
  width: 400px;
  height: 800px;
  position: absolute;
  top: 0px;
  color: #fff;
  animation: sfanim 15s linear infinite;
  text-shadow: 375px 485px, 11px 689px, 254px 784px, 5px 686px, 266px 705px, 388px 698px, 180px 707px, 36px 413px, 74px 695px, 238px 690px, 384px 635px, 1px 694px, 45px 538px, 131px 750px, 258px 520px, 157px 705px, 96px 749px, 325px 719px, 132px 688px, 167px 511px, 303px 408px, 340px 620px, 394px 428px, 187px 748px, 217px 624px, 356px 630px, 33px 758px, 238px 762px, 357px 586px, 253px 798px, 68px 786px, 164px 662px, 119px 598px, 221px 557px, 126px 537px, 282px 503px, 11px 455px, 219px 632px, 60px 597px, 41px 529px, 247px 451px, 217px 644px, 304px 400px, 214px 421px, 287px 757px, 76px 404px, 376px 735px, 169px 572px, 245px 790px, 66px 717px, 375px 85px, 11px 289px, 254px 384px, 5px 286px, 266px 305px, 388px 298px, 180px 307px, 36px 13px, 74px 295px, 238px 290px, 384px 235px, 1px 294px, 45px 138px, 131px 350px, 258px 120px, 157px 305px, 96px 349px, 325px 319px, 132px 288px, 167px 111px, 303px 8px, 340px 220px, 394px 28px, 187px 348px, 217px 224px, 356px 230px, 33px 358px, 238px 362px, 357px 186px, 253px 398px, 68px 386px, 164px 262px, 119px 198px, 221px 157px, 126px 137px, 282px 103px, 11px 55px, 219px 232px, 60px 197px, 41px 129px, 247px 51px, 217px 244px, 304px 0px, 214px 21px, 287px 357px, 76px 4px, 376px 335px, 169px 172px, 245px 390px, 66px 317px;
}

@keyframes sfanim {
  0% { transform: translate(0px, -400px); }
  100% { transform: translate(0px, 0px); }
}
